# Support Vector Machines Assignment
## Salary data

Prepare a classification model using SVM for salary data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
train_data = pd.read_csv('SalaryData_Train.csv')
test_data = pd.read_csv('SalaryData_Test.csv')

### Data Description:

- age -- age of a person
- workclass	-- A work class is a grouping of work 
- education	-- Education of an individuals	
- maritalstatus -- Marital status of an individulas	
- occupation	 -- occupation of an individuals
- relationship -- 	
- race --  Race of an Individual
- sex --  Gender of an Individual
- capitalgain --  profit received from the sale of an investment	
- capitalloss	-- A decrease in the value of a capital asset
- hoursperweek -- number of hours work per week	
- native -- Native of an individual
- Salary -- salary of an individual

In [3]:
train_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
test_data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [5]:
def drop_columns(data):
    data.drop('education',axis=1,inplace=True)

drop_columns(train_data)
drop_columns(test_data)

In [6]:
#train_data.drop(train_data[train_data['capitalloss']>3500].index,axis=0,inplace=True)
#test_data.drop(test_data[test_data['capitalloss']>2600].index,axis=0,inplace=True)

In [7]:
for col in ['workclass','maritalstatus','occupation','relationship','race','sex','native','Salary']:
    le = LabelEncoder()
    train_data[col] = le.fit_transform(train_data[col])
    test_data[col] = le.transform(test_data[col])

In [8]:
#le = LabelEncoder()
#train_data['Salary'] = le.fit_transform(train_data['Salary'])
#test_data['Salary'] = le.transform(test_data['Salary'])

#train_data = pd.get_dummies(train_data,drop_first=True)
#test_data = pd.get_dummies(test_data,drop_first=True)

In [9]:
x_train, x_test = train_data.drop('Salary',axis=1), test_data.drop('Salary',axis=1)
y_train, y_test = train_data['Salary'], test_data['Salary']

### Parameter Tuning

**kernel**
- defualt values is 'rbf'
- Specifies the kernel type to be used in the algorithm.
- Possible values:
    - 'linear'
    - 'poly'
    - 'rbf'
    - 'sigmoid'
    - 'precomputed'
    - [callable]
-

In [10]:
classifier = SVC(verbose=True)
classifier.fit(x_train,y_train)

[LibSVM]

SVC(verbose=True)

In [11]:
y_pred = classifier.predict(x_test)

In [12]:
confusion_matrix(y_test,y_pred)

array([[10997,   363],
       [ 2703,   997]], dtype=int64)

In [13]:
np.mean(y_test==y_pred)

0.7964143426294821

In [14]:
confusion_matrix(y_test,y_pred)

In [15]:
np.mean(y_test==y_pred)